::-webkit-scrollbar {
    width: 2px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(59, 59, 59); 
    border-radius: 10px;
  }
::-webkit-scrollbar-thumb {
    background:  rgba(0, 0, 0, 0.637); 
  }
::-webkit-scrollbar-thumb:hover {
    background:  rgba(0, 0, 0, 0.829); 
  }
  .bg-image{
    background: url("../img/bgpic.jpg");
    -webkit-filter: blur(6px);
    filter: blur(6px);
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='4');
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
.bg-normal {
    background: rgba(0, 0, 0, 0.637);
    color: white;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100%;
    height: 100vh;
    padding: 20px;
    text-align: center;
  }
.bg-normal h1
{
    font-weight: 500;
    letter-spacing: 5px;
    font-size: 60px;
}
.bg-normal h6
{
    color: aqua;
    font-size: 25px;
    font-weight: 50;
}
.bg-normal h4
{
    font-weight: 300;
    color: #ef5c5c;
}
.bg-normal h5
{
    font-weight: 300;
    
}
.all-text
{
    margin-top: 10%;
}
/* .page-2
{
    height: 100%;
} */
/*.jumbo-page-2
{
  height: 100vh;
} */

@media screen and (max-width: 400px) {
  .nav {
    visibility: hidden;
  }
  .bg-normal h1
  {
      font-weight: 500;
      letter-spacing: 5px;
      font-size: 50px;
  }
}
.card-title
{
  font-size: 16px !important;
  font-weight: 400 !important;
}
.page-contact-me a
{
  color: white;
}
