html,
body {
   margin:0;
   padding:0;
   height:100%;
    background-color: #292727;
    color: aliceblue;
  font-family: 'Roboto', sans-serif;
}



.me {
    margin: 5%;
}

.text {
    text-align: center;
    letter-spacing: 6px;
    font-size: 100px;
}
.body-1 img
{
    border-radius: 10px;
}

h1 {
    font-size: 45px;
}
a img{
    margin:20px;
}
a img:hover{
    border-bottom: 1px solid #fff;
}